/.php-cs-fixer.cache
/.phpunit.cache
/.phpunit.result.cache
/composer.lock
/fake
/phpunit.xml
/tests/Harness/js/node_modules/
/tests/Harness/js/.install.lock
/tests/tmp/*
/tools/*/composer.lock
/tools/*/vendor
/vendor/
/_docs_build/vendor
/_docs_build/output
