<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTodoAnnotatedTests="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="TEST_DATABASE_DSN" value="sqlite:///%kernel.project_dir%/var/app.db" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <env name="MAKER_SKIP_MERCURE_TEST" value="false"/>
        <env name="MAKER_SKIP_PANTHER_TEST" value="false" />
<!--    Overrides process timeout when step debugging -->
<!--    <env name="MAKER_PROCESS_TIMEOUT" value="null" /> -->
    </php>

    <testsuites>
        <testsuite name="makers">
            <directory>tests/Maker</directory>
        </testsuite>
        <testsuite name="utils">
            <directory>tests</directory>
            <exclude>tests/Maker</exclude>
            <exclude>tests/fixtures</exclude>
            <exclude>tests/tmp</exclude>
        </testsuite>
    </testsuites>

    <coverage
        cacheDirectory=".phpunit.cache/coverage"
        processUncoveredFiles="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
